DIUN_NOTIF_PUSHOVER_RECIPIENT={{ pushover_recipient }}
DIUN_NOTIF_PUSHOVER_TOKEN={{ pushover_token }}
DIUN_WATCH_HEALTHCHECKS_UUID={{ diun_watch_healthchecks_uuid }}
DIUN_WATCH_HEALTHCHECKS_BASEURL={{ diun_watch_healthchecks_baseurl | default('https://hc-ping.com') }}
DIUN_HOSTNAME={{ env_domain | default('diun') }}