CF_API_EMAIL={{ cf_api_email }}
CF_DNS_API_TOKEN={{ cf_dns_api_token }}
DOCKER_DIR={{ volume_path }}/docker
MY_DOMAIN={{ env_domain }}
LE_EMAIL={{ le_email }}
MACVLAN_IP={{ macvlan_ip | default('') }}